.header {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 105px;
    width: 100%;
    background: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.headerTitle {
    align-self: center;
    max-height: 50px;
    max-width: 40%;
}

.headerTitle:hover {
    opacity: 0.8;
    cursor: pointer;
}

.competitions {
    color: #E00E16;
    margin-left: 10px;
    font-weight: bold;
}
  