.title{
    color: #D1151A;
    font-size: min(7vw, 50px);
}
.field{
    margin-bottom: 12px;
}
.emailField{
    margin-top: 20px;
}
.loginSection{
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    text-align: left;
}
.mainContainer{
    text-align: center;
}
.errorText{
    color:red;
}