.title {
    color: #D1151A;
    font-size: min(6vw, 30px);
}

.field {
    margin-bottom: 12px;
}

.emailField {
    margin-top: 20px;
}

.loginSection {
    height: 100%;
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContent {
    padding: 10px;
    width: 80%;
    text-align: left;
}

.errorText {
    color: red;
}