.title {
  color: #d1151a;
  text-align: center;
  font-size: min(6vw, 30px);
  padding: 15px 0 5px;
  margin: 0
}

.titleHeader {
  text-align: center;
}

.subtitle {
    color: #D1151A;
    font-size: min(4vw, 20px);
}

.field {
  margin-bottom: 12px;
}

.emailField {
  margin-top: 20px;
}

.loginSection {
  background-color: white;
  width: 100%;
}

.loginContent {
  padding: 40px;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  width: 80%;
  overflow: auto;
  box-shadow: 6px 6px 50px 3px rgba(0, 0, 0, 0.2),
    -6px -6px 50px 3px rgba(0, 0, 0, 0.19);
}

.errorText {
  color: red;
  margin-bottom: 0;
}

.checkBoxRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.legalDocumentLink {
  color: #d1151a;
  cursor: pointer;
  font-weight: bold;
}

.legalDocumentLink:hover {
  opacity: 0.8;
}

.bloodTypeRow {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    justify-items: stretch;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    flex: 1 1 0px;
}

.bloodType {
    background-color: #ffeaea;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.selectedBloodType {
    background-color: #ffeaea;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: #D1151A;
    font-weight: bold;
}

.bloodType:hover {
    opacity: 0.8;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.divider {
    border: 1px solid #fdcbcb;
    margin: 0;
    margin-bottom: 16px;
}

.subsectionTitle {
    color: var(--red-dark);
    margin-bottom: 16px;
}

.subsectionTitleExplanation {
    color: var(--red-light);
    font-style: italic;
    font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .bloodTypeRow {
    grid-template-rows: 1fr 1fr;
  }

  .loginContent {
    width: 100%;
    margin-top: 0;
    box-shadow: none;
  }

}